@charset "utf-8";
@media all and (max-width: 960px) {
	.navbar a {
		font-size: 0.75em;
	}
	.SectionHeading {
		font-size: 2em;
		background-attachment: initial; 
	}
	
	
	.SectionWork {
		font-size: 1em;
		height: 17.5vh;
	}
	.swiper-container {
		width: 90vw;
		height: 100vw;
	  }
	.swiper-wrapper img {
		width: 90vw;
		height: 90vw;
	}

	.SectionAllWork button{
		font-size: .75em;
		height: 3em;
		width: 90vw;
	}
	.SectionAllWork hr{
		width: 85vw;
	}
	

	.SectionAbout {
		font-size: 2em;
		background-attachment: initial;
	}
	.SectionAbout img{
		width: 42.5px;
		height: 25px;
	}
	.brLine1{
		display: block;
		margin: 40vh 0;
		content: " ";
	}
	.brLine2{
		display: block;
		margin: 40vh 0;
		content: " ";
	}

	.SectionAboutDetail p1{
		font-size: 2em;
	}
	.SectionAboutDetail p2{
		font-family: 'Montserrat', sans-serif;
		font-size: 1em;
	}
	
	
	.SectionWhyCreate p3{
		font-size: 2em;
	}
	.SectionWhyCreate p4{
		font-family: 'Montserrat', sans-serif;
		font-size: 1em;
	}
	
	
	.SectionContact {
		font-size: 1.5em;
		background-attachment: initial;
	}
}